//
// Name: Main Stylus File
// Author: Graffino (http://www.graffino.com)
//

/**
 * Dependencies
 */
// Jeet
@import "../../bower_components/jeet/stylus/jeet/index";
// Normalizer
@import "../../bower_components/normalize.styl/normalize";
// Rupture
@import "../../bower_components/rupture-by-jenius/rupture/index";

/**
 * Base
 */
// General variables
@import "variables";
// Color variables
@import "colors";
// Mixins
@import "mixins";
// Font faces loading
@import "fonts";
// Generated SVG Sprite
@import "sprite";
// Icons
@import "icons";
// Vertical rhythm
@import "vertical-rhythm";
// Grid
@import "grid";


/**
 * Modules
 */
// Typography — body copy, headings, lists, blockquotes, etc.;
@import "typography";
// Header — styling and modules;
@import "header"
// Navigation — desktop & mobile;
@import "nav";
// Hero — main website slideshow;
@import "hero";
// Page sections — project specific areas;
@import "section";
// Columns — custom grid;
@import "columns";
// Form elements;
@import "form";
// Button — styles and sizes;
@import "button";
// Custom modules — plugins, project oriented object;
@import "custom-modules";
// Footer — styling and modules;
@import "footer";
// Helper classes (e.g. ".h-float-left");
@import "helpers";
// Common styling and extends
@import "common";


// Sort of a (pseudo-)console for exporting values to the front-end
@import "console";
