//
// Name: Common
// Author: Graffino (http://www.graffino.com)
//

/**
 * Globals
 */

// Border-box
* {
    box-sizing: border-box;
}
// HTML
html {
    font-size: $base-font-size-px;

}
// Body
body {
    // Defaults
    min-width: rem(320);
    background-color: $color-background;
    color: $default-color;
    font-family: $sans-font-family;
    font-size: $default-text-size;
    line-height: $default-line-height;
}
