//
// Name: Form
// Author: Graffino (http://www.graffino.com)
//

/**
 * Standard form
 */
.form {
    cf();
    
    margin: 0 0 rem($unit);
    
    &__input,
    &__textarea,
    &__select {
        transition-custom($property = border-color);
        
        box-sizing: content-box;
        display: block;
        width: 75%;
        margin-bottom: rem($unit);
        border: solid $color-form-border;
        border-width: rem(2);
        border-radius: rem($border-radius);
        padding: rem($unit / 2 - 2);
        color: $color-form-text;
        line-height: $unit;
        outline: 0;
        
        &:hover {
            border-color: $color-form-border-hover;
        }
        
        &:focus {
            border-color: $color-form-border-focus;
            color: $color-form-text-focus;
        }
        
        &::placeholder { }
        
    }
    
    &__input { }
    &__textarea {}
    
    &__field {
        cf();
        clear: both;
    }
    
    &__select__wrapper {
        position: relative;
        display: inline-block;
        width: 75%;
        margin-bottom: rem($unit);
        
        // drop-down arrow
        &:before {
            content: "";
            position: absolute;
            top: 50%;
            right: rem(-6);
            width: 0;
            height: 0;
            margin-top: rem(-3);
            border-top: rem($unit/4) solid $color-form-border;
            border-right: rem($unit/4) solid transparent;
            border-left: rem($unit/4) solid transparent;
            cursor: pointer;
        }
    }
    
    &__select {
        position: relative;
        appearance: none;
        width: 100%;
        margin: 0;
        border-radius: rem($border-radius);
        background-color: transparent;
        cursor: pointer;
    }
    
    &__checkbox,
    &__radio {
        transition-custom($property = border-color);
        
        appearance: none;
        float: left;
        display: inline-block;
        vertical-align: top;
        width: rem($unit);
        height: rem($unit);
        margin: rem($unit / 2) 0 rem($unit + $unit / 2);
        border: solid rem(2);
        border-color: $color-form-border;
        border-radius: rem(50%);
        background-color: transparent;
        line-height: rem($unit);
        outline: 0;
        cursor: pointer;
        
        &:hover {
            border-color: $color-form-border-hover;
        }
        
        &:checked + label {
            position: relative;
            float: left;
            display: inline-block;
            margin: rem($unit / 2) 0 rem($unit + $unit / 2);
        }
        
        &:checked + label span {
            position: absolute;
            top: rem($unit / 4);
            left: rem(0 - $unit / 2 - $unit / 4);
            display: block;
            width: rem($unit / 2);
            height: @width;
            border-radius: rem(50%);
            background-color: $color-primary;
            cursor: pointer;
        }
        
        &.-on-separate-line {
            float: left;
            clear: both;
            
            &:checked + label {
                float: left;
            }
        }
    }
    
    &__checkbox {
        border: solid rem(2);
        border-color: $color-form-border;
        border-radius: rem($border-radius);
        background-color: transparent;
        
        &:checked + label span {
            border-radius: rem($border-radius);
        }
        
    }
    
    &__button { }
    &__notice { }
    
    &__label {
        display: block;
        padding: rem($unit / 2) 0;
        font-size: $font-size-small;
        
        &.-for-radio,
        &.-for-checkbox {
            display: inline-block;
            padding-left: rem($unit / 2);
            font-size: rem($body-copy-size);
        }
        
        &.-on-separate-line {
            float: left;
            width-from-100($unit);
        }
        
        &.-inline {
            float: left;
            display: inline-block;
            vertical-align: top;
            margin-right: rem($unit);
        }
    }
    
    .-submit {
        display: block;
        clear: both;
    }
    
}
