//
// Name: Section
// Author: Graffino (http://www.graffino.com)
//

/**
 * Section
 */
.section {
    position: relative;
    center(rem($width-container));
    
    &.-padding {
        padding: rem($unit * 3) 0;
    }
    
    .content {
        float: left;
        width: unit($width-container/1.618, "px"); // temporary Golden Section calculation
        
        +below($medium) {
            width: 100%;
        }
    }

// Links
    a:not(.button) {
        //@extends .link;
    }

// Text
    span, p, .text {
        //@extends .text;
    }

// Padding
    &.-no-padding {
        padding: 0;
    }

}
