//
// Name: Typography
// Author: Graffino (http://www.graffino.com)
//

// HTML
html {
    font-size: $base-font-size-px;

}
// Body
body {
    // Defaults
    min-width: rem(320);
    background-color: $color-background;
    color: $default-color;
    font-family: $sans-font-family;
    font-size: $body-copy-size;
    line-height: $baseline-unit;
}

/**
 * Headings
 */
$h1, $h2, $h3, $h4, $h5, $h6 {
    display: block;
}
$h1 {
    margin: 0 0 rem($baseline-unit * 2);
    padding: rem($baseline-unit * 2) 0 0;
    font-size: rem($font-size-h1);
    line-height: rem($line-height-h1);
}
$h2 {
    margin: 0 0 rem($baseline-unit);
    padding: rem($baseline-unit) 0 0;
    font-size: rem($font-size-h2);
    line-height: rem($line-height-h2);
}
$h3 {
    margin: 0 0 rem($baseline-unit);
    padding: rem($baseline-unit) 0 0;
    font-size: rem($font-size-h3);
    line-height: rem($line-height-h3);
}
$h4 {
    margin: 0 0 rem($baseline-unit);
    padding: rem($baseline-unit) 0 0;
    font-size: rem($font-size-h4);
    line-height: rem($line-height-h4);
}
$h5 {
    margin: 0 0 rem($baseline-unit);
    font-size: rem($font-size-h5);
    line-height: rem($line-height-h5);
}
$h6 {
    margin: 0 0 rem($baseline-unit);
    font-size: rem($font-size-h6);
    line-height: rem($line-height-h6);
}

/**
 * Heading
 */
.heading {
    &.-color-white {
        color: $color-white;
    }
    
    &.-no-margin {
        margin: 0;
    }
    
    &.-no-margin-bottom {
        margin-bottom: 0;
    }
        
    &.-align-center {
        text-align: center;
    }
    
    &.-has-subtitle {
        margin-top: rem(10);
        margin-bottom: rem(10);
    }
    
    &.-weight {
        &-bold {
            font-weight: bold;
        }
        
        &-normal {
            font-weight: normal;
        }
    }
    
    &.-style {
        &-italic {
            font-style: italic;
        }
    }
    
    &.-case-upper {
        text-transform: uppercase;
    }
    
    &.-no-break {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    
    /**
     * Fontfaces
     */
    
    &.-serif {
        font-family: $serif-font-family;
    }
    
    /**
     * Custom heading styles
     */
    
    &.-page-title {
        position: relative;
        margin-bottom: rem($baseline-unit * 4);
        color: $color-primary;
        
        // left decoration border
        &:before {
            content: "";
            position: absolute;
            top: 50%;
            right: 105%;
            display: block;
            width: 100%;
            height: rem($baseline-unit * 3);
            margin-top: rem(-8);
            background-color: $color-primary;
        }
        
        .separator {
            position: relative;
            display: inline-block;
            width: rem(1);
            height: rem($baseline-unit * 2);
            margin: 0 rem($baseline-unit);
            background-color: $color-border;
        }
        
        .subtitle {
            @extends $h3;
            display: inline-block;
            margin: 0;
            padding: 0;
            color: $color-text-gray;
            font-family: $serif-font-family;
            font-style: italic;
            font-weight: 100;
        }
    }
    
    &.-subtitle {
        color: $color-text-gray;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    
}

/**
 * Text
 */
.text {
    margin: 0 0 $baseline-unit;
    color: $color-text;

    &.-color-white {
        color: $color-white;
    }
    
    &.-style-italic {
        font-style: italic;
    }

    &.-weight-normal {
        font-weight: 500;
    }
    
    &.-weight-medium {
        font-weight: 600;
    }
    
    &.-weight-bold {
        font-weight: 700;
    }
    
    &.-type-cursive {
        font-family: $cursive-font-family;
    }
    
    &.-no-margin-top {
        margin-top: 0;
    }
}

/**
 * Lists
 */
.list {
    margin: 0 0 $baseline-unit;
}
