//
// Name: Typography
// Author: Graffino (http://www.graffino.com)
//

// HTML
html {
    font-size: $base-font-size-px;

}
// Body
body {
    // Defaults
    min-width: rem(320);
    background-color: $color-background;
    color: $default-color;
    font-family: $sans-font-family;
    font-size: $body-copy-size;
    line-height: $unit;
}

/**
 * Headings
 */
$h1, $h2, $h3, $h4, $h5, $h6 {
    display: block;
}
$h1 {
    margin: 0 0 rem($unit);
    padding: rem($rhythm-diff-headings[5]) 0 0;
    font-size: rem($font-size-headings[5]);
    line-height: rem($line-height-headings[5]);
}
$h2 {
    margin: 0 0 rem($unit);
    padding: rem($rhythm-diff-headings[4]) 0 0;
    font-size: rem($font-size-headings[4]);
    line-height: rem($line-height-headings[4]);
}
$h3 {
    margin: 0 0 rem($unit);
    padding: rem($rhythm-diff-headings[3]) 0 0;
    font-size: rem($font-size-headings[3]);
    line-height: rem($line-height-headings[3]);
}
$h4 {
    margin: 0 0 rem($unit);
    padding: rem($rhythm-diff-headings[2]) 0 0;
    font-size: rem($font-size-headings[2]);
    line-height: rem($line-height-headings[2]);
}
$h5 {
    margin: 0 0 rem($unit);
    padding: rem($rhythm-diff-headings[1]) 0 0;
    font-size: rem($font-size-headings[1]);
    line-height: rem($line-height-headings[1]);
}
$h6 {
    margin: 0 0 rem($unit);
    padding: rem($rhythm-diff-headings[0]) 0 0;
    font-size: rem($font-size-headings[0]);
    line-height: rem($line-height-headings[0]);
}

/**
 * Heading
 */
.heading {
    &.-color-white {
        color: $color-white;
    }
    
    &.-no-margin {
        margin: 0;
    }
    
    &.-no-margin-bottom {
        margin-bottom: 0;
    }
        
    &.-align-center {
        text-align: center;
    }
    
    &.-has-subtitle {
        margin-top: rem(10);
        margin-bottom: rem(10);
    }
    
    &.-weight {
        &-bold {
            font-weight: bold;
        }
        
        &-normal {
            font-weight: normal;
        }
    }
    
    &.-style {
        &-italic {
            font-style: italic;
        }
    }
    
    &.-case-upper {
        text-transform: uppercase;
    }
    
    &.-no-break {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    
    /**
     * Fontfaces
     */
    
    &.-serif {
        font-family: $serif-font-family;
    }
    
    &.-cursive {
        font-family: $cursive-font-family;
    }
    
    /**
     * Custom heading styles
     */
    
    &.-page-title {
        position: relative;
        margin-bottom: rem($unit * 4);
        color: $color-primary;
        
        // left decoration border
        &:before {
            content: "";
            position: absolute;
            right: 105%;
            display: block;
            width: 100%;
            height: rem($unit * 3);
            background-color: $color-primary;
        }
        
        .separator {
            position: relative;
            display: inline-block;
            width: rem(1);
            height: rem($unit * 2);
            margin: 0 rem($unit);
            background-color: $color-border;
        }
        
        .subtitle {
            @extends $h3;
            
            display: inline-block;
            margin: 0;
            padding: 0;
            color: $color-text-gray;
            font-family: $serif-font-family;
            font-style: italic;
            font-weight: 100;
        }
    }
    
    &.-font-demo {
        padding: 0;
        word-break: break-all;
        font-weight: normal;
        line-height: rem(72);
    }
    
    &.-subsection {
        margin-bottom: rem($unit * 2);
        color: $color-text-gray;
        font-family: $serif-font-family;
        font-style: italic;
        font-weight: normal;
    }
    
    &.-subtitle {
        color: $color-text-gray;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    
}

/**
 * Text
 */
.text {
    margin: 0 0 $unit;
    color: $color-text;

    &.-color-white {
        color: $color-white;
    }
    
    &.-style-italic {
        font-style: italic;
    }

    &.-weight-normal {
        font-weight: 500;
    }
    
    &.-weight-medium {
        font-weight: 600;
    }
    
    &.-weight-bold {
        font-weight: 700;
    }
    
    &.-type-cursive {
        font-family: $cursive-font-family;
    }
    
    &.-no-margin-top {
        margin-top: 0;
    }
    
    /**
     * Fontfaces
     */
    
    &.-serif {
        font-family: $serif-font-family;
    }
    
    &.-cursive {
        font-family: $cursive-font-family;
    }
    
}

/**
 * Lists
 */
.list {
    margin: 0 0 $unit;
}
