//
// Name: Typography
// Author: Graffino (http://www.graffino.com)
//

// HTML
html {
    font-size: $base-font-size-px;
    text-rendering: optimizeLegibility;
}

// Body
body {
    // Defaults
    min-width: rem(320);
    background-color: $color-background;
    color: $default-color;
    font-family: $sans-font-family;
    font-size: $body-copy-size;
    line-height: $unit;
}

/**
 * Headings
 */
$h1, $h2, $h3, $h4, $h5, $h6 {
    display: block;
}
$h1 {
    margin: 0 0 rem($unit);
    padding: rem($rhythm-diff-headings[5]) 0 0;
    font-size: rem($font-size-headings[5]);
    line-height: rem($line-height-headings[5]);
}
$h2 {
    margin: 0 0 rem($unit);
    padding: rem($rhythm-diff-headings[4]) 0 0;
    font-size: rem($font-size-headings[4]);
    line-height: rem($line-height-headings[4]);
}
$h3 {
    margin: 0 0 rem($unit);
    padding: rem($rhythm-diff-headings[3]) 0 0;
    font-size: rem($font-size-headings[3]);
    line-height: rem($line-height-headings[3]);
}
$h4 {
    margin: 0 0 rem($unit);
    padding: rem($rhythm-diff-headings[2]) 0 0;
    font-size: rem($font-size-headings[2]);
    line-height: rem($line-height-headings[2]);
}
$h5 {
    margin: 0 0 rem($unit);
    padding: rem($rhythm-diff-headings[1]) 0 0;
    font-size: rem($font-size-headings[1]);
    line-height: rem($line-height-headings[1]);
}
$h6 {
    margin: 0 0 rem($unit);
    padding: rem($rhythm-diff-headings[0]) 0 0;
    font-size: rem($font-size-headings[0]);
    line-height: rem($line-height-headings[0]);
}

/**
 * Heading
 */
.heading {
    &.-color-white {
        color: $color-white;
    }
    
    &.-no-margin {
        margin: 0;
    }
    
    &.-no-margin-bottom {
        margin-bottom: 0;
    }
        
    &.-align-center {
        text-align: center;
    }
    
    &.-has-subtitle {
        margin-top: rem(10);
        margin-bottom: rem(10);
    }
    
    &.-weight {
        &-bold {
            font-weight: bold;
        }
        
        &-normal {
            font-weight: normal;
        }
    }
    
    &.-style {
        &-italic {
            font-style: italic;
        }
    }
    
    &.-case-upper {
        text-transform: uppercase;
    }
    
    &.-no-break {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    
    /**
     * Fontfaces
     */
    
    &.-serif {
        font-family: $serif-font-family;
    }
    
    &.-cursive {
        font-family: $cursive-font-family;
    }
    
    /**
     * Custom heading styles
     */
    
    &.-page-title {
        position: relative;
        margin-bottom: rem($unit * 4);
        color: $color-primary;
        
        // left decoration border
        &:before {
            content: "";
            position: absolute;
            right: 105%;
            display: block;
            width: 100%;
            height: rem($unit * 3);
            background-color: $color-primary;
        }
        
        .separator {
            position: relative;
            display: inline-block;
            width: rem(1);
            height: rem($unit * 2);
            margin: 0 rem($unit);
            background-color: $color-border;
        }
        
        .subtitle {
            @extends $h3;
            
            display: inline-block;
            margin: 0;
            padding: 0;
            color: $color-text-gray;
            font-family: $serif-font-family;
            font-style: italic;
            font-weight: 100;
        }
    }
    
    &.-font-demo {
        padding: 0;
        word-break: break-all;
        font-weight: normal;
        line-height: rem(72);
    }
    
    &.-subsection {
        margin-bottom: rem($unit * 2);
        font-family: $serif-font-family;
        font-style: italic;
        font-weight: normal;
    }
    
    &.-subtitle {
        color: $color-text-gray;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    
}

/**
 * Text
 */
.text {
    margin: 0 0 $unit;
    color: $color-text;

    &.-color-white {
        color: $color-white;
    }
    
    &.-style-italic {
        font-style: italic;
    }

    &.-weight-normal {
        font-weight: 500;
    }
    
    &.-weight-medium {
        font-weight: 600;
    }
    
    &.-weight-bold {
        font-weight: 700;
    }
    
    &.-type-cursive {
        font-family: $cursive-font-family;
    }
    
    &.-no-margin-top {
        margin-top: 0;
    }
    
    /**
     * Sizes
     */
    
    &.-small {
        font-size: $font-size-small;
    }
    
    /**
     * Fontfaces
     */
    
    &.-serif {
        font-family: $serif-font-family;
    }
    
    &.-cursive {
        font-family: $cursive-font-family;
    }
    
}

/**
 * Content elements
 */

.drop-cap {
    position: relative;
    top: rem($unit / 4);
    float: left;
    margin: 0 rem($unit / 2) 0 0;
    color: $color-dropcap;
    font-size: $font-size-headings[6];
    line-height: rem($unit * 3);
    
    &.-serif {
        font-family: $serif-font-family;
    }
    
    &.-cursive {
        font-family: $cursive-font-family;
    }
}

// A "run-in" — first few words after the Drop Cap
.run-in {
    margin-left: rem(0 - $unit / 2);
}

.small-caps {
    position: relative;
    top: rem(-2);
    vertical-align: top;
    font-size: rem($font-size-headings[1]);
    font-variant: small-caps;
    font-feature-settings: "smcp" on;
    
    // fake small caps (if font doesn't have the characters)
    &.-fake {
        font-variant: normal;
        font-size: 0.95rem;
        font-weight: normal;
        text-transform: uppercase;
    }
    
    &.-serif {
        top: rem(-1);
        font-family: $serif-font-family;
    }
    
    &.-cursive {
        font-family: $cursive-font-family;
    }
}

.blockquote {
    @extends $h5;
    
    position: relative;
    margin: rem($unit + $unit / 2);
    font-family: $serif-font-family;
    font-style: italic;
    font-weight: normal;
    
    &.-border {
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: rem(0 - $unit - $unit / 2);
            display: block;
            width: rem($unit / 6);
            height: 100%;
            background-color: $color-border;
        }
    }
    
    .footer {
        font-family: $default-font-family;
        font-size: rem($body-copy-size);
        font-style: normal;
        line-height: rem($unit);
    }
    
    .content {
        margin-bottom: 0;
        color: $color-quote-content;
        text-indent: rem(0 - $unit / 3);
    }
    
    .author {
        display: inline-block;
        margin: rem($unit / 2) 0;
        color: $color-quote-author;
        
        .link {
            color: inherit;
        }
    }
    
}

.divider {
    position: relative;
    height: rem($unit);
    
    &:before {
        content: "";
        position: absolute;
        bottom: rem($unit / 3);
        display: block;
        width: 100%;
        height: 1px;
        background-color: $color-border;
    }
}

/**
 * Lists
 */
.list {
    margin: 0 0 $unit;
}
