//
// Name  : Stylus Color variables
// Author: Graffino (http=//www.graffino.com)
//

$default-color                      = $color-black;

// Backgrounds
$color-background                   = $color-white;

// Text
$color-text                         = $color-black;

// Links
$color-link                         = $color-black;

// Buttons
$color-button-text                  = #FFFFFF;

// Blacks / Whites
$color-white                        = #FFFFFF;
$color-black                        = #000000;

$color-primary                      = #E91E63;
$color-text-gray                    = #B3B3B3;
$color-border                       = #E6E6E8;

// Form elements
$color-form-border                  = #E6E6E8;
$color-form-border-hover            = #D6D6D8;
$color-form-border-focus            = #E91E63;
$color-form-text                    = #808080;
$color-form-text-focus              = #606060;
