//
// Name  : Stylus Color variables
// Author: Graffino (http=//www.graffino.com)
//

$default-color                      = $color-text;

// Backgrounds
$color-background                   = #FFFFFF;
$color-background-dark              = #031B21;

// Text
$color-text                         = #1A1819;

// Headings
$color-headings                     = #031B21;

// Links
$color-link                         = $color-black;

// Buttons
$color-button-text                  = #FFFFFF;

// Blacks / Whites
$color-white                        = #FFFFFF;
$color-black                        = #000000;

$color-primary                      = #E91E63;
$color-text-gray                    = #989A9A;
$color-border                       = #E6E6E8;

// Link colors
$color-link-default                 = #E91E63;
$color-link-hover                   = $color-link-default;

// Content elements
$color-border                       = #E6E6E8;
$color-dropcap                      = #E91E63;
$color-quote-content                = #333333;
$color-quote-author                 = #B3B3B3;

// Form elements
$color-form-border                  = #E6E6E8;
$color-form-border-hover            = #D6D6D8;
$color-form-border-focus            = #E91E63;
$color-form-text                    = #808080;
$color-form-text-focus              = #606060;

// Buttons
$color-button-background            = #E91E63;
$color-button-background-hover      = darken($color-button-background, 20%);
$color-button-text                  = #FFFFFF;
$color-button-text-hover            = #FFFFFF;
$color-button-border                = $color-button-background;
$color-button-border-hover          = $color-button-background-hover;

// Form message boxes
$color-form-message-info            = #E8F8FF;
$color-form-message-warning         = #FFFCE3;
$color-form-message-error           = #FFEEEE;
$color-form-message-success         = #F3FEE1;
